.userProfile {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";

}

.userProfile h6{
    font-size: 2.125rem;
    line-height: 1.5;
    font-weight: bold;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.userProfile navbarElement{
    border: 0;
    border-radius: 0;
    font-size: .875rem;
    font-weight: 600 !important;
    line-height: 1 !important;
    margin-bottom: 0;
    padding: 1rem;
    -webkit-text-decoration: none;
    text-decoration: none;
    text-transform: none !important;
}

.userProfile card-container-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr); /* 6 columns with equal width */
    gap: 20px; /* Adjust the space between cards */
    margin: 0 -10px; /* To account for the margin on individual cards */
}

.user-profile-grid{
    padding-left: 50px;
    padding-right: 50px;
}

.userProfile artwork-card-grid {
    min-height: 0;
    background: #fff;
    border: 0;
    border-radius: 4px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);
    color: #1a1a1a;
    font-size: 0.875rem;
    line-height: 1.1875rem;
    transition: box-shadow 0.25s;
    text-align: left;
    position: relative;
    word-wrap: break-word;
    box-sizing: border-box;
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 400;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.userProfile card-image-grid {
    flex: 1 1 auto;
    border-radius: 4px 4px 0 0;
    display: flex;
    overflow: hidden;
}

/* Adjust this media query breakpoint as needed */
@media (max-width: 992px) {
    .userProfile card-container-grid {
        grid-template-columns: repeat(3, 1fr); /* 3 columns for smaller screens */
        gap: 10px; /* Adjust the space between cards */
        margin: 0 -5px; /* Adjust margin for individual cards */
    }

    .userProfile artwork-card-grid {
        width: calc(33.333% - 10px); /* Adjust width for 3 columns and margins */
        /* Other adjustments for smaller screens */
    }

    /* You can adjust other styles here as needed */
}

.userProfile artwork-card-grid:hover {
    cursor: pointer;
    /*border: 1px solid #555;*/
    box-shadow: 5px 10px 18px rgba(3, 3, 3, 0.2);
    z-index: 1;
    transition: all 0.3s ease-in-out;
}


.userProfile artwork-card-grid:hover .icon-container {
    opacity: 50; /* Show the icons when hovering over the card */
}

canvas {
    height: 150px !important; /* Adjust as needed */
}
.flex-container {
    display: flex;
    position: relative;
    align-items: center;
justify-content: space-between;
}


.bullet-points {
    list-style-type: disc;
    margin-left: 5px;
    padding-left: 20px;
    padding-right: 5px;
    padding-top: 20px;
}


.keyword-container {
    display: flex;
    align-items: center;  /* To vertically align the circle with the keyword text */
    margin-bottom: 5px;   /* Spacing between each keyword */
}

.circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid black;
    margin-right: 10px;   /* spacing between circle and keyword */
    cursor: pointer;
    transition: background-color 0.3s ease;
    flex-shrink: 0;       /* Prevent the circle from shrinking */
}
.circle-filled {
    background-color: blue;
}


